@import '../../style/color'; 
@import '../../style/fonts'; 
@import '../../style/mixin'; 



button{
    background-color: aqua;
    font-size: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    height: auto;
}